
$('#new_job').remove();

$('#all_jobs').append('<li id="job_link_<%= @job.id %>"><%= link_to @job.title, job_path(@job) %> |<%= link_to "Cancel", job_path(@job),:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %></li>')
  // flash[:notice] = "Error please make sure you filled in everything"
